# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
OpenCL_Device_Information/.vs/OpenCL_Device_Information/FileContentIndex/b56f0ea5-2186-4f3a-9200-8611e8cc9c95.vsidx
OpenCL_Device_Information/.vs/OpenCL_Device_Information/FileContentIndex/read.lock
OpenCL_Device_Information/.vs/OpenCL_Device_Information/v17/.suo
OpenCL_Device_Information/.vs/OpenCL_Device_Information/v17/Browse.VC.db
OpenCL_Device_Information/.vs/OpenCL_Device_Information/v17/Browse.VC.db-shm
OpenCL_Device_Information/.vs/OpenCL_Device_Information/v17/Browse.VC.db-wal
OpenCL_Device_Information/.vs/OpenCL_Device_Information/v17/Browse.VC.opendb
OpenCL_Device_Information/.vs/OpenCL_Device_Information/v17/ipch/AutoPCH/50c232723edb0035/MAIN.ipch
OpenCL_Device_Information/x64/Debug/OpenCL_D.27306727.tlog/CL.command.1.tlog
OpenCL_Device_Information/x64/Debug/OpenCL_D.27306727.tlog/Cl.items.tlog
OpenCL_Device_Information/x64/Debug/OpenCL_D.27306727.tlog/CL.read.1.tlog
OpenCL_Device_Information/x64/Debug/OpenCL_D.27306727.tlog/CL.write.1.tlog
OpenCL_Device_Information/x64/Debug/OpenCL_D.27306727.tlog/link.command.1.tlog
OpenCL_Device_Information/x64/Debug/OpenCL_D.27306727.tlog/link.read.1.tlog
OpenCL_Device_Information/x64/Debug/OpenCL_D.27306727.tlog/link.write.1.tlog
OpenCL_Device_Information/x64/Debug/OpenCL_D.27306727.tlog/OpenCL_Device_Information.lastbuildstate
OpenCL_Device_Information/x64/Debug/OpenCL_Device_Information.exe.recipe
OpenCL_Device_Information/x64/Debug/OpenCL_Device_Information.ilk
OpenCL_Device_Information/x64/Debug/OpenCL_Device_Information.log
OpenCL_Device_Information/x64/Debug/OpenCL_Device_Information.pdb
OpenCL_Device_Information/x64/Debug/OpenCL_Device_Information.vcxproj.FileListAbsolute.txt
OpenCL_Device_Information/x64/Debug/vc143.idb
OpenCL_Device_Information/x64/Debug/vc143.pdb
OpenCL_Device_Information/OpenCL_Device_Information.vcxproj.filters
OpenCL_Device_Information/OpenCL_Device_Information.vcxproj.user
OpenCL_Device_Information/.vs/OpenCL_Device_Information/FileContentIndex/ba6980e1-2f42-4430-8a06-4c6f0f39e7ca.vsidx
OpenCL_Image_Convolution/OpenCL_Image_Convolution.vcxproj.filters
OpenCL_Image_Convolution/OpenCL_Image_Convolution.vcxproj.user
OpenCL_Image_Convolution/x64/Debug/OpenCL_I.8ed2366a.tlog/CL.command.1.tlog
OpenCL_Image_Convolution/x64/Debug/OpenCL_I.8ed2366a.tlog/Cl.items.tlog
OpenCL_Image_Convolution/x64/Debug/OpenCL_I.8ed2366a.tlog/CL.read.1.tlog
OpenCL_Image_Convolution/x64/Debug/OpenCL_I.8ed2366a.tlog/CL.write.1.tlog
OpenCL_Image_Convolution/x64/Debug/OpenCL_I.8ed2366a.tlog/link.command.1.tlog
OpenCL_Image_Convolution/x64/Debug/OpenCL_I.8ed2366a.tlog/link.read.1.tlog
OpenCL_Image_Convolution/x64/Debug/OpenCL_I.8ed2366a.tlog/link.write.1.tlog
OpenCL_Image_Convolution/x64/Debug/OpenCL_I.8ed2366a.tlog/OpenCL_Image_Convolution.lastbuildstate
OpenCL_Image_Convolution/x64/Debug/OpenCL_Image_Convolution.exe.recipe
OpenCL_Image_Convolution/x64/Debug/OpenCL_Image_Convolution.ilk
OpenCL_Image_Convolution/x64/Debug/OpenCL_Image_Convolution.log
OpenCL_Image_Convolution/x64/Debug/OpenCL_Image_Convolution.pdb
OpenCL_Image_Convolution/x64/Debug/OpenCL_Image_Convolution.vcxproj.FileListAbsolute.txt
OpenCL_Image_Convolution/x64/Debug/vc143.idb
OpenCL_Image_Convolution/x64/Debug/vc143.pdb
OpenCL_Image_Convolution/.vs/OpenCL_Image_Convolution/v17/ipch/AutoPCH/5e57711de5fc7d64/MAIN.ipch
OpenCL_Image_Convolution/.vs/OpenCL_Image_Convolution/v17/Browse.VC.opendb
OpenCL_Image_Convolution/.vs/OpenCL_Image_Convolution/v17/Browse.VC.db-wal
OpenCL_Image_Convolution/.vs/OpenCL_Image_Convolution/v17/Browse.VC.db-shm
OpenCL_Image_Convolution/.vs/OpenCL_Image_Convolution/v17/Browse.VC.db
OpenCL_Image_Convolution/.vs/OpenCL_Image_Convolution/v17/.suo
OpenCL_Image_Convolution/.vs/OpenCL_Image_Convolution/FileContentIndex/read.lock
OpenCL_Image_Convolution/.vs/OpenCL_Image_Convolution/FileContentIndex/0b52024c-3d14-45b0-8a78-238406554a77.vsidx
OpenCL_Graph_Traversel/.vs/OpenCL_Graph_Traversel/FileContentIndex/d82c84f0-d112-4269-8938-3be69a69ccf0.vsidx
OpenCL_Graph_Traversel/.vs/OpenCL_Graph_Traversel/FileContentIndex/read.lock
OpenCL_Graph_Traversel/.vs/OpenCL_Graph_Traversel/v17/.suo
OpenCL_Graph_Traversel/.vs/OpenCL_Graph_Traversel/v17/Browse.VC.db
OpenCL_Graph_Traversel/.vs/OpenCL_Graph_Traversel/v17/Browse.VC.db-shm
OpenCL_Graph_Traversel/.vs/OpenCL_Graph_Traversel/v17/Browse.VC.db-wal
OpenCL_Graph_Traversel/.vs/OpenCL_Graph_Traversel/v17/Browse.VC.opendb
OpenCL_Graph_Traversel/.vs/OpenCL_Graph_Traversel/v17/ipch/AutoPCH/1c6bd4c151886e21/MAIN.ipch
OpenCL_Graph_Traversel/OpenCL_Graph_Traversel.vcxproj.filters
OpenCL_Graph_Traversel/OpenCL_Graph_Traversel.vcxproj.user
OpenCL_Graph_Traversel/x64/Debug/OpenCL_G.e3841690.tlog/CL.command.1.tlog
OpenCL_Graph_Traversel/x64/Debug/OpenCL_G.e3841690.tlog/Cl.items.tlog
OpenCL_Graph_Traversel/x64/Debug/OpenCL_G.e3841690.tlog/CL.read.1.tlog
OpenCL_Graph_Traversel/x64/Debug/OpenCL_G.e3841690.tlog/CL.write.1.tlog
OpenCL_Graph_Traversel/x64/Debug/OpenCL_G.e3841690.tlog/link.command.1.tlog
OpenCL_Graph_Traversel/x64/Debug/OpenCL_G.e3841690.tlog/link.read.1.tlog
OpenCL_Graph_Traversel/x64/Debug/OpenCL_G.e3841690.tlog/link.write.1.tlog
OpenCL_Graph_Traversel/x64/Debug/OpenCL_G.e3841690.tlog/OpenCL_Graph_Traversel.lastbuildstate
OpenCL_Graph_Traversel/x64/Debug/OpenCL_Graph_Traversel.exe.recipe
OpenCL_Graph_Traversel/x64/Debug/OpenCL_Graph_Traversel.ilk
OpenCL_Graph_Traversel/x64/Debug/OpenCL_Graph_Traversel.log
OpenCL_Graph_Traversel/x64/Debug/OpenCL_Graph_Traversel.pdb
OpenCL_Graph_Traversel/x64/Debug/OpenCL_Graph_Traversel.vcxproj.FileListAbsolute.txt
OpenCL_Graph_Traversel/x64/Debug/vc143.idb
OpenCL_Graph_Traversel/x64/Debug/vc143.pdb
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/v17/ipch/AutoPCH/6d53c4a9a84189dd/MAIN.ipch
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/v17/ipch/AutoPCH/1e72c25508aedcfe/STB_IMAGE_LOAD.ipch
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/v17/Browse.VC.opendb
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/v17/Browse.VC.db-wal
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/v17/Browse.VC.db-shm
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/v17/Browse.VC.db
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/v17/.suo
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/FileContentIndex/read.lock
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/FileContentIndex/627d7ff7-293c-43fb-ade0-5f17eb98f68b.vsidx
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/FileContentIndex/57dbeb2a-9130-4a62-902e-0454de6a5419.vsidx
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.exe.recipe
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.ilk
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.log
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.pdb
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.tlog/CL.command.1.tlog
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.tlog/Cl.items.tlog
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.tlog/CL.read.1.tlog
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.tlog/CL.write.1.tlog
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.tlog/link.command.1.tlog
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.tlog/link.read.1.tlog
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.tlog/link.write.1.tlog
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.tlog/OpenCL_Box_Blur.lastbuildstate
OpenCL_Box_Blur/x64/Debug/OpenCL_Box_Blur.vcxproj.FileListAbsolute.txt
OpenCL_Box_Blur/x64/Debug/vc143.idb
OpenCL_Box_Blur/x64/Debug/vc143.pdb
OpenCL_Graph_Traversel/.vs/OpenCL_Graph_Traversel/FileContentIndex/301f55a4-5dbb-4fc7-bc6a-a10ae7004689.vsidx
OpenCL_Box_Blur/OpenCL_Box_Blur.vcxproj.filters
OpenCL_Box_Blur/OpenCL_Box_Blur.vcxproj.user
OpenCL_Box_Blur/.vs/OpenCL_Box_Blur/FileContentIndex/6528deea-a693-4e3d-858c-1b2aeb300fc4.vsidx
OpenCL_Graph_Traversal/.vs/OpenCL_Graph_Traversel/FileContentIndex/301f55a4-5dbb-4fc7-bc6a-a10ae7004689.vsidx
OpenCL_Graph_Traversal/.vs/OpenCL_Graph_Traversel/FileContentIndex/read.lock
OpenCL_Graph_Traversal/.vs/OpenCL_Graph_Traversel/v17/.suo
OpenCL_Graph_Traversal/.vs/OpenCL_Graph_Traversel/v17/Browse.VC.db
OpenCL_Graph_Traversal/.vs/OpenCL_Graph_Traversel/v17/ipch/AutoPCH/1c6bd4c151886e21/MAIN.ipch
OpenCL_Graph_Traversal/OpenCL_Graph_Traversel.vcxproj.filters
OpenCL_Graph_Traversal/OpenCL_Graph_Traversel.vcxproj.user
OpenCL_Graph_Traversal/x64/Debug/OpenCL_G.e3841690.tlog/CL.command.1.tlog
OpenCL_Graph_Traversal/x64/Debug/OpenCL_G.e3841690.tlog/Cl.items.tlog
OpenCL_Graph_Traversal/x64/Debug/OpenCL_G.e3841690.tlog/CL.read.1.tlog
OpenCL_Graph_Traversal/x64/Debug/OpenCL_G.e3841690.tlog/CL.write.1.tlog
OpenCL_Graph_Traversal/x64/Debug/OpenCL_G.e3841690.tlog/link.command.1.tlog
OpenCL_Graph_Traversal/x64/Debug/OpenCL_G.e3841690.tlog/link.read.1.tlog
OpenCL_Graph_Traversal/x64/Debug/OpenCL_G.e3841690.tlog/link.write.1.tlog
OpenCL_Graph_Traversal/x64/Debug/OpenCL_G.e3841690.tlog/OpenCL_Graph_Traversel.lastbuildstate
OpenCL_Graph_Traversal/x64/Debug/OpenCL_Graph_Traversel.exe.recipe
OpenCL_Graph_Traversal/x64/Debug/OpenCL_Graph_Traversel.ilk
OpenCL_Graph_Traversal/x64/Debug/OpenCL_Graph_Traversel.log
OpenCL_Graph_Traversal/x64/Debug/OpenCL_Graph_Traversel.pdb
OpenCL_Graph_Traversal/x64/Debug/OpenCL_Graph_Traversel.vcxproj.FileListAbsolute.txt
OpenCL_Graph_Traversal/x64/Debug/vc143.idb
OpenCL_Graph_Traversal/x64/Debug/vc143.pdb
OpenCL_Edge_Detection/.vs/OpenCL_Edge_Detection/v17/ipch/AutoPCH/1b1bab4dcff29b07/MAIN.ipch
OpenCL_Edge_Detection/.vs/OpenCL_Edge_Detection/v17/Browse.VC.opendb
OpenCL_Edge_Detection/.vs/OpenCL_Edge_Detection/v17/Browse.VC.db-wal
OpenCL_Edge_Detection/.vs/OpenCL_Edge_Detection/v17/Browse.VC.db-shm
OpenCL_Edge_Detection/.vs/OpenCL_Edge_Detection/v17/Browse.VC.db
OpenCL_Edge_Detection/.vs/OpenCL_Edge_Detection/v17/.suo
OpenCL_Edge_Detection/.vs/OpenCL_Edge_Detection/FileContentIndex/read.lock
OpenCL_Edge_Detection/.vs/OpenCL_Edge_Detection/FileContentIndex/e9f9a540-e192-47b2-aa11-0309dc0e1d50.vsidx
OpenCL_Edge_Detection/.vs/OpenCL_Edge_Detection/FileContentIndex/0b4e222b-cb3e-4e0f-9657-9f721901f356.vsidx
OpenCL_Edge_Detection/OpenCL_Edge_Detection.vcxproj.user
OpenCL_Edge_Detection/OpenCL_Edge_Detection.vcxproj.filters
OpenCL_Edge_Detection/x64/Debug/OpenCL_E.b475997c.tlog/CL.command.1.tlog
OpenCL_Edge_Detection/x64/Debug/OpenCL_E.b475997c.tlog/Cl.items.tlog
OpenCL_Edge_Detection/x64/Debug/OpenCL_E.b475997c.tlog/CL.read.1.tlog
OpenCL_Edge_Detection/x64/Debug/OpenCL_E.b475997c.tlog/CL.write.1.tlog
OpenCL_Edge_Detection/x64/Debug/OpenCL_E.b475997c.tlog/link.command.1.tlog
OpenCL_Edge_Detection/x64/Debug/OpenCL_E.b475997c.tlog/link.read.1.tlog
OpenCL_Edge_Detection/x64/Debug/OpenCL_E.b475997c.tlog/link.write.1.tlog
OpenCL_Edge_Detection/x64/Debug/OpenCL_E.b475997c.tlog/OpenCL_Edge_Detection.lastbuildstate
OpenCL_Edge_Detection/x64/Debug/OpenCL_Edge_Detection.exe.recipe
OpenCL_Edge_Detection/x64/Debug/OpenCL_Edge_Detection.ilk
OpenCL_Edge_Detection/x64/Debug/OpenCL_Edge_Detection.log
OpenCL_Edge_Detection/x64/Debug/OpenCL_Edge_Detection.pdb
OpenCL_Edge_Detection/x64/Debug/OpenCL_Edge_Detection.vcxproj.FileListAbsolute.txt
OpenCL_Edge_Detection/x64/Debug/vc143.idb
OpenCL_Edge_Detection/x64/Debug/vc143.pdb
